<div class="container" style="margin-top: 70px;">
    <form>

    <div class="row">
  
      <div class="col-sm-12">

        <div class="card m-4">
            <div class="card-header bg-secondary">
              Personal Details
            </div>
            <div class="card-body">
  
                            <div>
                                    <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">First Name</label>
                                        <input type="text" [value] ="candidate.fname" (input)="candidate.fname=$event.target.value" class="form-control" id="fname" placeholder="">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputPassword4">Middle Name</label>
                                        <input type="text" [value] ="candidate.mname" (input)="candidate.mname=$event.target.value" class="form-control" id="mname" placeholder="">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputPassword4">Last Name</label>
                                        <input type="text" [value] ="candidate.lname" (input)="candidate.lname=$event.target.value" class="form-control" id="lname" placeholder="">
                                    </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="inputAddress">Batch Name</label>
                                           
                                            <ng-multiselect-dropdown-angular7
                                            [ngModelOptions]="{standalone: true}"
                                            [placeholder]="'Select Batch...'"
                                            [data]="batchDropdownList"
                                            [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                          >
                                          </ng-multiselect-dropdown-angular7>

                                        </div>

      
                                       
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputAddress">Fees Paid</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                                            </div>


                                            <div class="form-group col-md-3">
                                                <label for="inputAddress">Remaining Fees</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                                            </div>


                                            <div class="form-group col-md-3">
                                                <label for="inputAddress">Total Fees</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                                            </div>

                                            <div class="form-group col-md-3">
                                                <label for="inputAddress">Payment details</label>
                                                <button class="btn btn-info" (click)="createContact()">Payment History</button>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputAddress">Registration Date</label>
                                                <input type="date" class="form-control" id="inputAddress" placeholder="">
                                            </div>
                                        </div>



                            </div>

                        </div>
                    </div>
      </div>
    </div>






    <div class="row">
  
        <div class="col-sm-12">
  
          <div class="card m-4 bg-light">
              <div class="card-header bg-secondary">
                Contact Details
              </div>
              <div class="card-body">
    
                              <div>
                                      <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputEmail4">Contact Number</label>
                                          <input type="phone" [value] ="candidate.contactNumber" (input)="candidate.contactNumber=$event.target.value" class="form-control" id="inputEmail4" placeholder="Phone">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputPassword4">Email</label>
                                          <input type="email" [value] ="candidate.email" (input)="candidate.email=$event.target.value" class="form-control" id="inputPassword4" placeholder="Email">
                                      </div>
                                      </div>
                                      <div class="form-group">
                                      <label for="inputAddress">Address</label>
                                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                      </div>
                                      <div class="form-group">
                                      <label for="inputAddress2">Address 2</label>
                                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                      </div>
                                      <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="inputCity">City</label>
                                          <input type="text" class="form-control" id="inputCity">
                                      </div>
                                      <div class="form-group col-md-4">
                                          <label for="inputState">State</label>
                                          <select id="inputState" class="form-control">
                                          <option selected>Choose...</option>
                                          <option>...</option>
                                          </select>
                                      </div>
                                      <div class="form-group col-md-2">
                                          <label for="inputZip">Country</label>
                                          <input type="text" class="form-control" id="inputZip">
                                      </div>
                                      </div>


  
  
                              </div>
  
                          </div>
                      </div>
        </div>
      </div>


      <div class="row">
  
        <div class="col-sm-12">
  
          <div class="card m-4 bg-light">
              <div class="card-header bg-secondary">
                Other Details
              </div>
              <div class="card-body">
    
                              <div>
                                      <div class="form-group">
                                      <label for="inputAddress">Qulification</label>
                                      <input type="text" class="form-control" id="inputAddress" placeholder="">
                                      </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                            <label for="inputAddress2">College Name</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputAddress2">Passout Year</label>
                                                <input type="text" class="form-control" id="inputAddress2" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputAddress">Company Name</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="">
                                        </div>


                                        <div class="form-group">
                                            <label for="inputAddress">Remark</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="">
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group m-2">
                                                <button class="btn btn-primary" (click)="getCandidate()">Save And New</button>
                                            </div>
                                            <div class="form-group m-2">
                                                <button type="submit"  class="btn btn-primary" (click)="saveCandidate()">Save</button>
                                            </div>
                                            <div class="form-group m-2">
                                                <button class="btn btn-primary" (click)="createContact()">Close</button>
                                            </div>
                                          </div>
                                 
  
  
                              </div>
  
                          </div>
                      </div>
        </div>
      </div>


    </form>
      
  </div>
  